<%= form_for([@podcast, @podcast.comments.build]) do |f|%>

<br>

<h5> Leave a comment: </h5>

<%= f.text_area :content %>

<button type="button" class="btn btn-success"><%= f.submit %></button>



<% end%>







